# Importing required packages

In [1]:
#Importing required packages
import numpy as np
import pandas as pd

In [2]:
#Importing dataset
df_train=pd.read_csv("Titanic_train.csv")

# Data Cleaning and Data Wrangling

In [3]:
#Check for null values
df_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
#Calculate frequency for Embarked variable
df_train["Embarked"].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [5]:
#Replace null value by the highest occuring value
df_train['Embarked'].fillna("S", inplace=True)

In [6]:
#New count
df_train["Embarked"].value_counts()

S    646
C    168
Q     77
Name: Embarked, dtype: int64

In [7]:
print("Minimum value of Age: ",df_train["Age"].min())
print("Maximum value of Age: ",df_train["Age"].max())

Minimum value of Age:  0.42
Maximum value of Age:  80.0

In [8]:
df_train["Age_bin"]=np.nan
for x in df_train:
    for i in range(8,0,-1):
        df_train.loc[ df_train["Age"] <= i*10, "Age_bin"] = i

In [9]:
#df_train[["Age_bin"]].fillna(100, inplace=True)
df_train.fillna({'Age_bin':100}, inplace=True)

In [10]:
df_train.to_csv("Titanic_sunburst.csv")